@charset "UTF-8";

/* CSS Document */

/* --------------- BARS --------------- */

.bar {
    display: flex;
    flex-direction: column;
    flex: 0 0 21px;
    flex-wrap: wrap;
    grid-gap: 16px;
    padding: 12px 16px;
    
    background-color: var(--surface-light);
    border-bottom: 1px solid var(--neutral-stroke-subdued);
}

.bar > .row {    
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: center;
    grid-gap: 16px;
}

.bar > .row > .left {    
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: center;
    grid-gap: 16px;   
}

.bar img {
    height: 1rem;
}

/* --------------- BULK ACTION TOOLBAR --------------- */

.bulk-action {   
    background-color: var(--brand-mist-blue);
}


/* --------------- BOTTOM BAR --------------- */

.bottom-bar {
    display: flex;
    flex-direction: column;
    flex: 0 0 21px;
    flex-wrap: wrap;
    grid-gap: 16px;
    padding: 12px 16px;
    
    background-color: var(--surface-light);
    border-top: 1px solid var(--neutral-stroke-subdued);
}

.bottom-bar > .row {
    align-items: flex-end;
}

.bottom-bar > .row > .left {    
    display: flex;
    flex-grow: 1;
    align-items: center;
    grid-gap: 16px;   
}

.bottom-bar button.field {
    width: 160px;
}

/* --------------- SURFACES --------------- */

.surface {
    display: flex;
    flex-direction: column;
    grid-gap: 24px;
    padding: 16px;
    max-width: 960px;
    
    background-color: var(--surface-light);
    border: 1px solid var(--neutral-stroke-subdued);
    border-radius: 4px;  
}

.dark {
    background-color: var(--surface-dark);
}

.background {
    background-color: var(--background-base);
}

.info {
    background-color: var(--info-surface);
}

.success {
    background-color: var(--success-surface);
}

.warning {
    background-color: var(--warning-surface);
}

.error {
    background-color: var(--error-surface);
}