<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Bulk Action Toolbar</title>
        <link rel="stylesheet" href="/v1/styles/colors.css">
        <link rel="stylesheet" href="/v1/styles/typography.css">
        <link rel="stylesheet" href="/v1/styles/layout.css">
        <link rel="stylesheet" href="/v1/styles/components-medium.css">
        <link rel="stylesheet" href="/v1/styles/components-small.css">
	</head>
	<body>
        <main>
            <div class="bar">
                <div class="row">
                    <p><a href="/v1/stratus-v1.html"><img src="/v1/icons/info-base/arrow-left.svg">Stratus v1</a></p>
                </div>
            </div>
            <div class="bar">
                <h4>Bulk Action Toolbar</h4>
            </div>
            <div class="detail">
                <div class="surface">
                    <h5>Default</h5>
                    <a href="/v1/demos/item-list/bulk-action-toolbar-default.html" target="_blank" rel="noreferrer noopener">Demo<img src="/v1/icons/info-base/external-link.svg"></a>
                    <div class="surface background">
                        <div class="bar bulk-action">
                            <div class="row">
                                <div class="left">
                                    <button class="icon"><img src="/v1/icons/text-base/close.svg"></button>
                                    <p>20 Items Selected</p>
                                </div>
                                <div class="button-row">
                                    <button class="secondary">Button</button>
                                    <button class="secondary">Button</button>
                                    <button class="secondary">Button</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
	</body>
</html>
