<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Buttons &amp; Links</title>
        <base href="https://bandersonjc.github.io/v1/">
        <link rel="stylesheet" href="styles/colors.css">
        <link rel="stylesheet" href="styles/typography.css">
        <link rel="stylesheet" href="styles/layout.css">
        <link rel="stylesheet" href="styles/components-small.css">
        <link rel="stylesheet" href="styles/components-medium.css">
	</head>
	<body>
        <main>
            <div class="bar">
                <div class="row">
                    <p><a href="stratus-v1.html"><img src="icons/info-base/arrow-left.svg">Stratus v1</a></p>
                </div>
            </div>
            <div class="bar">
                <h4>Buttons &amp; Links</h4>
            </div>
            <div class="detail">
                <div class="surface">
                    <h5>Link</h5>
                    <a href="components/buttons-links.html">Link</a>
                </div>
                <div class="surface">
                    <h5>Tertiary Button (Default)</h5>
                    <button>Tertiary Button</button>
                    <button><img src="icons/info-base/image.svg">Tertiary Button</button>
                    <button>Tertiary Button<img src="icons/info-base/image.svg"></button>
                    <button>Tertiary Button<img src="icons/info-base/dropdown.svg"></button>
                    <button><img src="icons/info-base/image.svg">Tertiary Button<img src="icons/info-base/dropdown.svg"></button>
                </div>
                <div class="surface">
                    <h5>Secondary Button</h5>
                    <button class="secondary">Secondary Button</button>
                    <button class="secondary">Secondary Button</button>
                    <button class="secondary"><img src="icons/text-base/image.svg">Secondary Button</button>
                    <button class="secondary">Secondary Button<img src="icons/text-base/image.svg"></button>
                    <button class="secondary">Secondary Button<img src="icons/text-base/dropdown.svg"></button>
                    <button class="secondary"><img src="icons/text-base/image.svg">Secondary Button<img src="icons/text-base/dropdown.svg"></button>
                </div>
                <div class="surface">
                    <h5>Primary Button</h5>
                    <button class="primary">Primary Button</button>
                    <button class="primary"><img src="icons/text-base/image.svg">Primary Button</button>
                    <button class="primary">Primary Button<img src="icons/text-base/image.svg"></button>
                    <button class="primary">Primary Button<img src="icons/text-base/dropdown.svg"></button>
                    <button class="primary"><img src="icons/text-base/image.svg">Primary Button<img src="icons/text-base/dropdown.svg"></button>
                </div>
                <div class="surface">
                    <h5>Destructive Button</h5>
                    <button class="destructive">Destructive Button</button>
                    <button class="destructive"><img src="icons/text-base/image.svg">Destructive Button</button>
                    <button class="destructive">Destructive Button<img src="icons/text-base/image.svg"></button>
                    <button class="destructive">Destructive Button<img src="icons/text-base/dropdown.svg"></button>
                    <button class="destructive"><img src="icons/text-base/image.svg">Destructive Button<img src="icons/text-base/dropdown.svg"></button>
                </div>
                <div class="surface">
                    <h5>Icon Button</h5>
                    <button class="icon"><img src="icons/text-base/image.svg"></button>
                </div>
                <div class="surface">
                    <h5>User Menu</h5>
                    <button class="user"><p>AA</p></button>
                </div>
                <div class="surface">
                    <h5>Button Row</h5>
                    <div class="button-row">
                        <button class="secondary">Secondary Button</button>
                        <button class="secondary">Secondary Button</button>
                        <button class="secondary">Secondary Button</button>
                        <button class="secondary">Secondary Button</button>
                        <button class="secondary">Secondary Button</button>
                    </div>
                </div>
            </div>
        </main>
	</body>
</html>
