<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Inputs</title>
        <link rel="stylesheet" href="/v1/styles/colors.css">
        <link rel="stylesheet" href="/v1/styles/typography.css">
        <link rel="stylesheet" href="/v1/styles/layout.css">
        <link rel="stylesheet" href="/v1/styles/components-medium.css">
        <link rel="stylesheet" href="/v1/styles/components-small.css">
	</head>
	<body>
        <main>
            <div class="bar">
                <div class="row">
                    <p><a href="/v1/stratus-v1.html"><img src="/v1/icons/info-base/arrow-left.svg">Stratus v1</a></p>
                </div>
            </div>
            <div class="bar">
                <h4>Inputs</h4>
            </div>
            <div class="detail">
                <form class="surface">
                    <h5>Text Input</h5>
                    <div class="input-set">
                        <label>Input<img src="/v1/icons/text-base/info.svg"></label>
                        <input>
                        <p>Helper text</p>
                    </div>
                    <div class="input-set">
                        <label>Input</label>
                        <input placeholder="Disabled" disabled>
                    </div>
                </form>
                <form class="surface">
                    <h5>Time &amp; Date Inputs</h5>
                    <div class="input-set">
                        <label>Date</label>
                        <button class="field"><img src="/v1/icons/text-base/date.svg">10/20/2022</button>
                        <p>Helper text</p>
                    </div>
                    <div class="input-set">
                        <label>Date</label>
                        <button class="field" disabled><img src="/v1/icons/text-base/date.svg">Disabled</button>
                    </div>
                    <div class="input-set">
                        <label>Time</label>
                        <button class="field"><img src="/v1/icons/text-base/time.svg">8:00 AM</button>
                        <p>Helper Text</p>
                    </div>
                    <div class="input-set">
                        <label>Time</label>
                        <button class="field" disabled><img src="/v1/icons/text-base/time.svg">Disabled</button>
                    </div>
                </form>
                <form class="surface">
                    <h5>File Upload</h5>
                    <div class="input-set">
                        <label>File Upload</label>
                        <div class="field-upload"><button class="secondary">Upload File</button><p>No file has been uploaded</p></div>
                    </div>
                </form>
                <form class="surface">
                    <h5>Select List</h5>
                    <div class="input-set">
                        <label>Select</label>
                        <button class="field"><div>Select One</div><img src="/v1/icons/text-base/dropdown.svg"></button>
                    </div>
                    <div class="input-set">
                        <label>Select</label>
                        <button class="field" disabled><div>Disabled</div><img src="/v1/icons/text-base/dropdown.svg"></button>
                    </div>
                </form>
                <form class="surface">
                    <h5>Text Area</h5>
                    <div class="input-set">
                        <label>Text Area</label>
                        <textarea></textarea>
                    </div>
                    <div class="input-set">
                        <label>Text Area</label>
                        <textarea placeholder="Disabled" disabled></textarea>
                    </div>
                </form>
                <form class="surface">
                    <h5>Input Row</h5>
                    <div class="input-row">
                        <div class="input-set">
                            <label>Input</label>
                            <input type="text">
                        </div>
                        <div class="input-set">
                            <label>Input</label>
                            <input type="text">
                        </div>
                    </div>
                    <div class="input-row">
                        <div class="input-set">
                            <label>Input</label>
                            <input type="text">
                        </div>
                        <div class="input-set">
                            <label>Input</label>
                            <input type="text">
                        </div>
                    </div>
                    <div class="input-row">
                        <div class="input-set">
                            <label>Input</label>
                            <input type="text">
                        </div>
                        <div class="input-set">
                            <label>Input</label>
                            <input type="text">
                        </div>
                    </div>
                </form>
            </div>
        </main>
	</body>
</html>
