<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Item List Toolbar</title>
        <link rel="stylesheet" href="/v1/styles/colors.css">
        <link rel="stylesheet" href="/v1/styles/typography.css">
        <link rel="stylesheet" href="/v1/styles/layout.css">
        <link rel="stylesheet" href="/v1/styles/components-medium.css">
        <link rel="stylesheet" href="/v1/styles/components-small.css">
	</head>
	<body>
        <main>
            <div class="bar">
                <div class="row">
                    <p><a href="/v1/stratus-v1.html"><img src="/v1/icons/info-base/arrow-left.svg">Stratus v1</a></p>
                </div>
            </div>
            <div class="bar">
                <h4>Item List Toolbar</h4>
            </div>
            <div class="detail">
                <div class="surface">
                    <h5>Default</h5>
                    <a href="/v1/demos/item-list/item-list-toolbar-default.html" target="_blank" rel="noreferrer noopener">Demo<img src="/v1/icons/info-base/external-link.svg"></a>
                    <div class="surface background">
                        <div class="bar">
                            <div class="row">
                                <div class="left">
                                    <button class="primary"><img src="/v1/icons/text-base/add.svg">New Item</button>
                                    <button class="search"><img src="/v1/icons/text-base/search.svg"><div>Search</div><a>Filter<img src="/v1/icons/info-base/dropdown.svg"></a></button>
                                </div>
                                <div class="button-row">
                                    <button><img src="/v1/icons/info-base/download.svg">Export</button>
                                    <button>Columns<img src="/v1/icons/info-base/dropdown.svg"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="surface">
                    <h5>Filters Applied</h5>
                    <a href="/v1/demos/item-list/item-list-toolbar-filters.html" target="_blank" rel="noreferrer noopener">Demo<img src="/v1/icons/info-base/external-link.svg"></a>
                    <div class="surface background">
                        <div class="bar">
                            <div class="row">
                                <div class="left">
                                    <button class="primary"><img src="/v1/icons/text-base/add.svg">New Item</button>
                                    <button class="search"><img src="/v1/icons/text-base/search.svg"><div>Search</div><a>Filter<img src="/v1/icons/info-base/dropdown.svg"></a></button>
                                </div>
                                <div class="button-row">
                                    <button><img src="/v1/icons/info-base/download.svg">Export</button>
                                    <button>Columns<img src="/v1/icons/info-base/dropdown.svg"></button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="left">
                                    <div class="button-row">
                                        <button class="chip-clearable"><b>Label:</b>Value<img src="/v1/icons/text-base/close-circle.svg"></button>
                                        <button class="chip-clearable"><b>Label:</b>Value<img src="/v1/icons/text-base/close-circle.svg"></button>
                                        <button class="chip-clearable"><b>Label:</b>Value<img src="/v1/icons/text-base/close-circle.svg"></button>
                                        <button class="chip-clearable"><b>Label:</b>Value<img src="/v1/icons/text-base/close-circle.svg"></button>
                                        <button class="chip-clearable"><b>Label:</b>Value<img src="/v1/icons/text-base/close-circle.svg"></button>
                                        <button class="chip-clearable"><b>Label:</b>Value<img src="/v1/icons/text-base/close-circle.svg"></button>
                                        <button class="chip-clearable"><b>Label:</b>Value<img src="/v1/icons/text-base/close-circle.svg"></button>
                                        <button class="chip-clearable"><b>Label:</b>Value<img src="/v1/icons/text-base/close-circle.svg"></button>
                                        <button>Show All<img src="/v1/icons/info-base/chevron-down.svg"></button>
                                    </div>
                                </div>
                                <button><img src="/v1/icons/info-base/close-circle.svg">Clear All</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
	</body>
</html>
