<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Selection Controls</title>
        <base href="http://localhost:8888/stratus-design/v1/">
        <link rel="stylesheet" href="styles/colors.css">
        <link rel="stylesheet" href="styles/typography.css">
        <link rel="stylesheet" href="styles/layout.css">
        <link rel="stylesheet" href="styles/components-small.css">
        <link rel="stylesheet" href="styles/components-medium.css">
	</head>
	<body>
        <main>
            <div class="bar">
                <div class="row">
                    <p><a href="stratus-v1.html"><img src="icons/info-base/arrow-left.svg">Stratus v1</a></p>
                </div>
            </div>
            <div class="bar">
                <h4>Selection Controls</h4>
            </div>
            <div class="detail">
                <form class="surface">
                    <h5>Checkbox</h5>
                    <div class="selection-set">
                        <label>Set Label<img src="icons/text-base/info.svg"></label>
                        <div class="selection">
                            <button><img src="icons/selection-controls/checkbox-selected.svg"></button>
                            <p>Label</p>
                        </div>
                        <div class="selection">
                            <button><img src="icons/selection-controls/checkbox.svg"></button>
                            <p>Label</p>
                        </div>
                        <div class="selection">
                            <button><img src="icons/selection-controls/checkbox.svg"></button>
                            <p>Label</p>
                        </div>
                        <div class="selection">
                            <button><img src="icons/selection-controls/checkbox.svg"></button>
                            <p>Label</p>
                        </div>
                        <p>Helper text</p>
                    </div>
                </form>
                <form class="surface">
                    <h5>Radio</h5>
                    <div class="selection-set">
                        <label>Set Label</label>
                        <div class="selection">
                            <button><img src="icons/selection-controls/radio-selected.svg"></button>
                            <p>Label</p>
                        </div>
                        <div class="selection">
                            <button><img src="icons/selection-controls/radio.svg"></button>
                            <p>Label</p>
                        </div>
                        <div class="selection">
                            <button><img src="icons/selection-controls/radio.svg"></button>
                            <p>Label</p>
                        </div>
                        <div class="selection">
                            <button><img src="icons/selection-controls/radio.svg"></button>
                            <p>Label</p>
                        </div>
                        <p>Helper text</p>
                    </div>
                </form>
                <form class="surface">
                    <h5>Toggle</h5>
                    <div class="selection-set">
                        <label>Set Label</label>
                        <div class="selection">
                            <button><img src="icons/selection-controls/toggle-selected.svg"></button>
                            <p>Label</p>
                        </div>
                        <div class="selection">
                            <button><img src="icons/selection-controls/toggle.svg"></button>
                            <p>Label</p>
                        </div>
                        <div class="selection">
                            <button><img src="icons/selection-controls/toggle.svg"></button>
                            <p>Label</p>
                        </div>
                        <div class="selection">
                            <button><img src="icons/selection-controls/toggle.svg"></button>
                            <p>Label</p>
                        </div>
                        <p>Helper text</p>
                    </div>
                </form>
                <form class="surface">
                    <h5>Select Chips</h5>
                    <div class="selection-set">
                        <label>Set Label</label>
                        <div class="button-row">
                            <button class="chip">Select Chip</button>
                            <button class="chip">Select Chip</button>
                            <button class="chip">Select Chip</button>
                            <button class="chip">Select Chip</button>
                            <button class="chip">Select Chip</button>
                            <button class="chip">Select Chip</button>
                            <button class="chip">Select Chip</button>
                            <button class="chip">Select Chip</button>
                        </div>
                        <p>Helper Text</p>
                    </div>
                </form>
            </div>
        </main>
	</body>
</html>
